<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please Allow access to microphone</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to select a photo for your profile picture from you photo library</string>
	<key>NSCameraUsageDescription</key>
	<string>Please Allow Access to take a profile picture</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1633332343737632</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1633332343737632</string>
	<key>FacebookClientToken</key>
	<string>eb056c8149b4a577d323c95e4a070098</string>
	<key>FacebookDisplayName</key>
	<string>project checking</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
